.bg {
    background-image: url("http://www.pallavagranites.com/images/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: moveBackground 2s linear infinite;
    width: 100vw;
    height: 100vh;
    display: flex;
  }